<div id="particles-js">
  <div class="header">
      <img src="../placeholder.jpg" alt = "Tom Keane photo" style = "width:200px; height:200px; border-radius: 50%;">
      <div class="header-container">
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </div>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:tlfk97@gmail.com"><i class="icon fas fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/tom-keane-71b5b9127/"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/Thomas-keane"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My CV" target="_blank" href="../cv_website.pdf"><i class="icon far fa-file-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fas fa-chevron-down" aria-hidden="true"></i></a>
</div>