<div class="projects">
  <h1>Projects</h1>
  <div class="project-container">
    <h2>{{site.project_1_title}}</h2>
    <h3>{{site.project_1_subtitle}}</h3>
    <h4><i>{{site.project_1_timeframe}}</i></h4>
    <p> {{site.project_1_description}}</p>
    <div class="project-icons">
        <a aria-label="Project Github" target="_blank" href="https://github.com/tom-keane/past_projects/project_1"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Project Submission" target="_blank" href="../project_1.pdf"><i class="icon far fa-file-alt" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="project-container">
    <h2>{{site.project_2_title}}</h2>
    <h3>{{site.project_2_subtitle}}</h3>
    <h4><i>{{site.project_2_timeframe}}</i></h4>
    <p> {{site.project_2_description}}</p>
    <div class="project-icons">
        <a aria-label="Project Github" target="_blank" href="https://github.com/tom-keane/past_projects/project_2"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Project Submission" target="_blank" href="../project_2.pdf"><i class="icon far fa-file-alt" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="project-container">
    <h2>{{site.project_3_title}}</h2>
    <h3>{{site.project_3_subtitle}}</h3>
    <h4><i>{{site.project_3_timeframe}}</i></h4>
    <p> {{site.project_3_description}}</p>
    <div class="project-icons">
        <a aria-label="Project Github" target="_blank" href="https://github.com/tom-keane/past_projects/project_3"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Project Submission" target="_blank" href="../project_3.pdf"><i class="icon far fa-file-alt" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="project-container">
    <h2>{{site.project_4_title}}</h2>
    <h3>{{site.project_4_subtitle}}</h3>
    <h4><i>{{site.project_4_timeframe}}</i></h4>
    <p> {{site.project_4_description}}</p>
    <div class="project-icons">
        <a aria-label="Project Github" target="_blank" href="https://github.com/tom-keane/past_projects/project_4"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="project-container">
    <h2>{{site.project_5_title}}</h2>
    <h3>{{site.project_5_subtitle}}</h3>
    <h4><i>{{site.project_5_timeframe}}</i></h4>
    <p> {{site.project_5_description}}</p>
    <div class="project-icons">
        <a aria-label="Project Github" target="_blank" href="https://github.com/tom-keane/past_projects/project_5"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Project Submission" target="_blank" href="../project_5.pdf"><i class="icon far fa-file-alt" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="project-container">
    <h2>{{site.project_6_title}}</h2>
    <h3>{{site.project_6_subtitle}}</h3>
    <h4><i>{{site.project_6_timeframe}}</i></h4>
    <p> {{site.project_6_description}}</p>
    <div class="project-icons">
        <a aria-label="Project Github" target="_blank" href="https://github.com/tom-keane/past_projects/project_6"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Project Submission" target="_blank" href="../project_6.pdf"><i class="icon far fa-file-alt" aria-hidden="true"></i></a>
    </div>
  </div>
</div>